@tailwind base;
@tailwind components;
@tailwind utilities;
@import './scroll.css';

:root, body {
  width: 100vw;
  height: 100vh;
}

h1 {
  @apply text-4xl md:text-5xl font-semibold text-white text-center;
}

h2 {
  @apply text-3xl font-semibold text-white text-center;
}

h3 {
  @apply text-2xl font-medium text-white text-center;
}

label {
  @apply text-base font-medium text-white text-center;
}

p {
  @apply text-base text-white text-center;
}

a {
  @apply text-primary hover:text-accent no-underline
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
